.breadcrum {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #5e5e5e;
  font-size: 1em;
  font-weight: 600;
  margin: 3em 10.6em;
  text-transform: capitalize;
}

a {
  color: #5e5e5e;
}