 .commentsbox {
   margin: 7.5em 10.6em;
 }

 .commentsbox-navigator {
   background-color: #f0f0f0;
   padding: 0.62em;
   border-radius: 0.25em;
   margin-bottom: 0.62em;
 }

 .commentsbox-nav-box {
   font-size: 1.12em;
   font-weight: bold;
   color: #333;
 }

 .commentsbox-comments {
   margin-bottom: 1.25em;
 }

 .commentsbox-comments>div {
   margin-bottom: 0.94em;
   padding: 0.94em;
   border: 1px solid #ddd;
   border-radius: 0.5em;
 }

 .commentsbox-comments h4 {
   margin-bottom: 0.62em;
   font-size: 1em;
 }

 .commentsbox-comments p {
   margin-bottom: 0.94em;
   color: #333;
 }

 .commentsbox-comments button {
   /* background-color: #3498db; */
   color: #fff;
   padding: 0.31em 0.37em;
   border: none;
   border-radius: 0.25em;
   cursor: pointer;
   margin-right: 0.31em;
 }

 .commentsbox-comments button:hover {
   background: #cc3030;
 }

 form {
   display: flex;
   margin-top: 0.94em;
   flex-direction: column;
 }

 form input {
   flex: 1;
   padding: 0.5em;
   font-size: 1.3em;
   border: 1px solid #ddd;
   border-radius: 0.25em;
 }

 form button {
   color: #fff;
   padding: 0.4em 0.94em;
   border: none;
   border-radius: 0.25em;
   cursor: pointer;
   margin-top: 0.5em;
 }

 form button:hover {
   background: #cc3030;
 }