.productdisplay {
  display: flex;
  justify-content: space-between;
  margin: 0 10.6em;
}

.productdisplay-left {
  display: flex;
  gap: 1;
}

.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-right: 0.5em;
}

.productdisplay-img-list img {
  height: 9.75em;
}

.productdisplay-main-img {
  width: 32em;
  height: 42em;
}

.productdisplay-right {
  flex: 1;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 2.5em;
  font-weight: 700;
}

.productdisplay-right-prices {
  display: flex;
  gap: 1.8em;
  font-size: 1.5em;
  font-weight: 700;
}

.productdisplay-right-price-new {
  color: #ff4141;
}

.productdisplay-right-size h1 {
  color: #656565;
  font-size: 1.2em;
  font-weight: 600;
}

.productdisplay-right-sizes {
  display: flex;
  gap: 1.2em;
}

.productdisplay-right-sizes div {
  padding: 1.1em 1.2em;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

.productdisplay-right .add-to-cart {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background: #ff4141;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay-right .add-to-favourite {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.buttons-section {
  display: flex;
  gap: 1em;
}