.offers {
  width: 65%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0 8.7em;
  margin-bottom: 9.4em;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: #171717;
  font-size: 4.5em;
  font-weight: 600;
}

.offers-left p {
  color: #171717;
  font-size: 1.4em;
  font-weight: 600;
}

.offers-left button {
  width: 13em;
  height: 3.2em;
  border-radius: 2.4em;
  background: #ff4141;
  border: none;
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 1.8em;
  cursor: pointer;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3.1em;
}