.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6em;
}

.not-found {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  font-size: 1.5em;
}

button {
  width: 12em;
  height: 2em;
  color: #fff;
  background: #ff4141;
  border-color: #ff4141;
  border-radius: 2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}